In [1]:
import pandas as pd
import numpy as np

### importing confirmed cases data

In [2]:
df_confirmed = pd.read_csv('global_covid_confirmed_daily_updates.csv', index_col=0)
df_confirmed.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,6/16/20,6/17/20,6/18/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,27532
Albania,0,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,1788
Algeria,0,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,11385
Andorra,0,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,855
Angola,0,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,166

In [3]:
df_confirmed.columns = pd.to_datetime(df_confirmed.columns)

In [4]:
df_confirmed.columns

DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
               '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
               '2020-01-30', '2020-01-31',
               ...
               '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
               '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18'],
              dtype='datetime64[ns]', length=149, freq=None)

In [5]:
df_confirmed.columns.freq = 'D'

In [6]:
df_confirmed.columns

DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
               '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
               '2020-01-30', '2020-01-31',
               ...
               '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
               '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18'],
              dtype='datetime64[ns]', length=149, freq='D')

In [7]:
df_confirmed.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country/Region', length=188)

### importing death data

In [8]:
df_death = pd.read_csv('global_covid_deaths_daily_updates.csv', index_col=0)
df_death.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,6/16/20,6/17/20,6/18/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,384,405,426,446,451,471,478,491,504,546
Albania,0,0,0,0,0,0,0,0,0,0,...,34,34,35,36,36,36,36,37,38,39
Algeria,0,0,0,0,0,0,0,0,0,0,...,724,732,741,751,760,767,777,788,799,811
Andorra,0,0,0,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,52,52,52
Angola,0,0,0,0,0,0,0,0,0,0,...,4,4,5,5,6,6,6,6,7,8

In [9]:
df_confirmed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, Afghanistan to Zimbabwe
Columns: 149 entries, 2020-01-22 to 2020-06-18
Freq: D
dtypes: int64(149)
memory usage: 220.3+ KB

In [10]:
df_confirmed.columns = pd.to_datetime(df_confirmed.columns)
df_confirmed.columns

DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
               '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
               '2020-01-30', '2020-01-31',
               ...
               '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
               '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18'],
              dtype='datetime64[ns]', length=149, freq='D')

In [11]:
df_death.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country/Region', length=188)

# EWMA

In [12]:
span = 4
alpha = 2/(span+1)

In [13]:
df_confirmed.ewm(alpha=alpha, adjust=False, axis=1).mean()['2020-04-24']

Country/Region
Afghanistan           1235.457650
Albania                646.477007
Algeria               2967.150052
Andorra                723.342162
Angola                  24.643272
                         ...
West Bank and Gaza     334.372665
Western Sahara           5.997242
Yemen                    0.999530
Zambia                  76.236254
Zimbabwe                27.921701
Name: 2020-04-24 00:00:00, Length: 188, dtype: float64

In [14]:
def cal_ewma(input_df):
    """Calculates the exp wighted moving average using the window size."""
    _df = input_df.ewm(alpha=alpha, adjust=False, axis=1).mean()['4/24/20']
    
    return _df

In [15]:
cal_ewma(df_confirmed)

Country/Region
Afghanistan           1235.457650
Albania                646.477007
Algeria               2967.150052
Andorra                723.342162
Angola                  24.643272
                         ...
West Bank and Gaza     334.372665
Western Sahara           5.997242
Yemen                    0.999530
Zambia                  76.236254
Zimbabwe                27.921701
Name: 2020-04-24 00:00:00, Length: 188, dtype: float64

In [16]:
all_pred_df = pd.DataFrame()

for df in [df_confirmed]:
    #_df = cal_moving_avg(df, window=2)
    ew_df = cal_ewma(df)
    #all_pred_df = pd.concat([all_pred_df, _df], axis=1)
    all_pred_df = pd.concat([all_pred_df, ew_df])
    
all_pred_df.columns =['Confirmed']    
#all_pred_df_ew.columns =['Confirmed', 'Recovered', 'Death']

In [17]:
all_pred_df

                      Confirmed
Afghanistan         1235.457650
Albania              646.477007
Algeria             2967.150052
Andorra              723.342162
Angola                24.643272
...                         ...
West Bank and Gaza   334.372665
Western Sahara         5.997242
Yemen                  0.999530
Zambia                76.236254
Zimbabwe              27.921701

[188 rows x 1 columns]

Cannot predict in future with EMWA, so need ot use different model for predictin in future

# Simple exponential smoothing

In [18]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

In [19]:
SES = SimpleExpSmoothing(df_confirmed.iloc[0]).fit(smoothing_level=alpha,optimized=False)

In [20]:
SES

In [21]:
SES_forcast = SES.forecast(5)

In [22]:
SES_forcast

2020-06-19    26541.585866
2020-06-20    26541.585866
2020-06-21    26541.585866
2020-06-22    26541.585866
2020-06-23    26541.585866
Freq: D, dtype: float64

Not forecasting actually, so going for double exponential smoothing

# Double exponential smoothing

In [23]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [24]:
df_death.iloc[184]

1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    1
6/15/20    1
6/16/20    1
6/17/20    1
6/18/20    1
Name: Western Sahara, Length: 149, dtype: int64

In [25]:
model1 = ExponentialSmoothing(df_death.iloc[184],trend='add').fit()

C:\Users\Siddhesh Gunjal\anaconda3\envs\tsa\lib\site-packages\statsmodels\tsa\base\tsa_model.py:162: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)
C:\Users\Siddhesh Gunjal\anaconda3\envs\tsa\lib\site-packages\statsmodels\tsa\holtwinters.py:731: RuntimeWarning: invalid value encountered in greater_equal
  loc = initial_p >= ub

In [26]:
EXP_forcast = model1.forecast(1)

In [27]:
EXP_forcast.values

array([1.00675866])

In [28]:
df_confirmed.shape

(188, 149)

In [29]:
for x in range(0,185):
    print(df_death.iloc[x])

1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    471
6/15/20    478
6/16/20    491
6/17/20    504
6/18/20    546
Name: Afghanistan, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    36
6/15/20    36
6/16/20    37
6/17/20    38
6/18/20    39
Name: Albania, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    767
6/15/20    777
6/16/20    788
6/17/20    799
6/18/20    811
Name: Algeria, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    51
6/15/20    51
6/16/20    52
6/17/20    52
6/18/20    52
Name: Andorra, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    6
6/15/20    6
6/16/20    6
6/17/20    7
6/18/20    8
Name: Angola, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    3
6/15/20    3
6/16/20    3
6/17/20    3
6/18/20    3
Name: Antigua and Barbuda, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    833
6/15/20    854
6/16/20    878
6/17/20    913
6/18/20    948
Name: Argentina, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    269
6/15/20    285
6/16/20    293
6/17/20    302
6/18/20    309
Name: Armenia, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    102
6/15/20    102
6/16/20    102
6/17/20    102
6/18/20    102
Name: Australia, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    677
6/15/20    678
6/16/20    681
6/17/20    687
6/18/20    688
Name: Austria, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    119
6/15/20    122
6/16/20    126
6/17/20    133
6/18/20    139
Name: Azerbaijan, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    11
6/15/20    11
6/16/20    11
6/17/20    11
6/18/20    11
Name: Bahamas, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    42
6/15/20    46
6/16/20    47
6/17/20    49
6/18/20    55
Name: Bahrain, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1171
6/15/20    1209
6/16/20    1262
6/17/20    1305
6/18/20    1343
Name: Bangladesh, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    7
6/15/20    7
6/16/20    7
6/17/20    7
6/18/20    7
Name: Barbados, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    308
6/15/20    312
6/16/20    318
6/17/20    324
6/18/20    331
Name: Belarus, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    9655
6/15/20    9661
6/16/20    9663
6/17/20    9675
6/18/20    9683
Name: Belgium, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    2
6/15/20    2
6/16/20    2
6/17/20    2
6/18/20    2
Name: Belize, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20     6
6/15/20     9
6/16/20     9
6/17/20     9
6/18/20    11
Name: Benin, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Bhutan, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    611
6/15/20    632
6/16/20    659
6/17/20    679
6/18/20    697
Name: Bolivia, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    163
6/15/20    165
6/16/20    168
6/17/20    168
6/18/20    168
Name: Bosnia and Herzegovina, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    1
6/15/20    1
6/16/20    1
6/17/20    1
6/18/20    1
Name: Botswana, Length: 149, dtype: int64
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
           ...
6/14/20    43332
6/15/20    43959
6/16/20    45241
6/17/20    46510
6/18/20    47748
Name: Brazil, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    2
6/15/20    2
6/16/20    3
6/17/20    3
6/18/20    3
Name: Brunei, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    174
6/15/20    176
6/16/20    181
6/17/20    184
6/18/20    190
Name: Bulgaria, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    53
6/15/20    53
6/16/20    53
6/17/20    53
6/18/20    53
Name: Burkina Faso, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    6
6/15/20    6
6/16/20    6
6/17/20    6
6/18/20    6
Name: Burma, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    1
6/15/20    1
6/16/20    1
6/17/20    1
6/18/20    1
Name: Burundi, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    6
6/15/20    7
6/16/20    7
6/17/20    7
6/18/20    7
Name: Cabo Verde, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Cambodia, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    212
6/15/20    276
6/16/20    276
6/17/20    276
6/18/20    276
Name: Cameroon, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    8218
6/15/20    8228
6/16/20    8271
6/17/20    8312
6/18/20    8361
Name: Canada, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20     7
6/15/20     7
6/16/20    14
6/17/20    18
6/18/20    19
Name: Central African Republic, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    73
6/15/20    73
6/16/20    74
6/17/20    74
6/18/20    74
Name: Chad, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    3323
6/15/20    3362
6/16/20    3383
6/17/20    3615
6/18/20    3841
Name: Chile, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1670
6/15/20    1808
6/16/20    1808
6/17/20    1887
6/18/20    1955
Name: Colombia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    2
6/15/20    2
6/16/20    3
6/17/20    3
6/18/20    5
Name: Comoros, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    24
6/15/20    27
6/16/20    27
6/17/20    27
6/18/20    27
Name: Congo (Brazzaville), Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    107
6/15/20    112
6/16/20    112
6/17/20    115
6/18/20    117
Name: Congo (Kinshasa), Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    12
6/15/20    12
6/16/20    12
6/17/20    12
6/18/20    12
Name: Costa Rica, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    45
6/15/20    46
6/16/20    46
6/17/20    48
6/18/20    49
Name: Cote d'Ivoire, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    107
6/15/20    107
6/16/20    107
6/17/20    107
6/18/20    107
Name: Croatia, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    84
6/15/20    84
6/16/20    84
6/17/20    84
6/18/20    85
Name: Cuba, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    18
6/15/20    18
6/16/20    18
6/17/20    18
6/18/20    19
Name: Cyprus, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    329
6/15/20    330
6/16/20    331
6/17/20    333
6/18/20    334
Name: Czechia, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    597
6/15/20    598
6/16/20    598
6/17/20    598
6/18/20    600
Name: Denmark, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    13
6/15/20    13
6/16/20    13
6/17/20    13
6/18/20    13
Name: Diamond Princess, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    43
6/15/20    43
6/16/20    43
6/17/20    43
6/18/20    43
Name: Djibouti, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Dominica, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    592
6/15/20    605
6/16/20    615
6/17/20    633
6/18/20    635
Name: Dominican Republic, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    3896
6/15/20    3929
6/16/20    3970
6/17/20    4007
6/18/20    4087
Name: Ecuador, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1575
6/15/20    1672
6/16/20    1766
6/17/20    1850
6/18/20    1938
Name: Egypt, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    74
6/15/20    74
6/16/20    76
6/17/20    79
6/18/20    82
Name: El Salvador, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    12
6/15/20    12
6/16/20    32
6/17/20    32
6/18/20    32
Name: Equatorial Guinea, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Eritrea, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    69
6/15/20    69
6/16/20    69
6/17/20    69
6/18/20    69
Name: Estonia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    4
6/15/20    4
6/16/20    4
6/17/20    4
6/18/20    4
Name: Eswatini, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    57
6/15/20    60
6/16/20    61
6/17/20    63
6/18/20    65
Name: Ethiopia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Fiji, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    326
6/15/20    326
6/16/20    326
6/17/20    326
6/18/20    326
Name: Finland, Length: 149, dtype: int64
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
           ...
6/14/20    29410
6/15/20    29439
6/16/20    29550
6/17/20    29578
6/18/20    29606
Name: France, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    23
6/15/20    27
6/16/20    29
6/17/20    30
6/18/20    32
Name: Gabon, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    1
6/15/20    1
6/16/20    1
6/17/20    1
6/18/20    1
Name: Gambia, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    14
6/15/20    14
6/16/20    14
6/17/20    14
6/18/20    14

Name: Georgia, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    8801
6/15/20    8807
6/16/20    8820
6/17/20    8851
6/18/20    8875
Name: Germany, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    54
6/15/20    54
6/16/20    58
6/17/20    66
6/18/20    66
Name: Ghana, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    183
6/15/20    184
6/16/20    185
6/17/20    187
6/18/20    188
Name: Greece, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Grenada, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    384
6/15/20    399
6/16/20    418
6/17/20    432
6/18/20    449
Name: Guatemala, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    25
6/15/20    26
6/16/20    26
6/17/20    26
6/18/20    26
Name: Guinea, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    15
6/15/20    15
6/16/20    15
6/17/20    15
6/18/20    15
Name: Guinea-Bissau, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    12
6/15/20    12
6/16/20    12
6/17/20    12
6/18/20    12
Name: Guyana, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    70
6/15/20    76
6/16/20    80
6/17/20    82
6/18/20    84
Name: Haiti, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Holy See, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    312
6/15/20    322
6/16/20    330
6/17/20    336
6/18/20    343
Name: Honduras, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    562
6/15/20    563
6/16/20    565
6/17/20    567
6/18/20    568
Name: Hungary, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    10
6/15/20    10
6/16/20    10
6/17/20    10
6/18/20    10
Name: Iceland, Length: 149, dtype: int64
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
           ...
6/14/20     9520
6/15/20     9900
6/16/20    11903
6/17/20    12237
6/18/20    12573
Name: India, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    2134
6/15/20    2198
6/16/20    2231
6/17/20    2276
6/18/20    2339
Name: Indonesia, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    8837
6/15/20    8950
6/16/20    9065
6/17/20    9185
6/18/20    9272
Name: Iran, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    607
6/15/20    652
6/16/20    712
6/17/20    773
6/18/20    856
Name: Iraq, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1706
6/15/20    1706
6/16/20    1709
6/17/20    1710
6/18/20    1714
Name: Ireland, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    300
6/15/20    302
6/16/20    302
6/17/20    303
6/18/20    303
Name: Israel, Length: 149, dtype: int64
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
           ...
6/14/20    34345
6/15/20    34371
6/16/20    34405
6/17/20    34448
6/18/20    34514
Name: Italy, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    10
6/15/20    10
6/16/20    10
6/17/20    10
6/18/20    10
Name: Jamaica, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    927
6/15/20    929
6/16/20    934
6/17/20    935
6/18/20    935
Name: Japan, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    9
6/15/20    9
6/16/20    9
6/17/20    9
6/18/20    9
Name: Jordan, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20     77
6/15/20     81
6/16/20     88
6/17/20     97
6/18/20    100
Name: Kazakhstan, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    103
6/15/20    104
6/16/20    105
6/17/20    107
6/18/20    117
Name: Kenya, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    277
6/15/20    278
6/16/20    279
6/17/20    280
6/18/20    280
Name: Korea, South, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    32
6/15/20    33
6/16/20    33
6/17/20    33
6/18/20    33
Name: Kosovo, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    296
6/15/20    298
6/16/20    303
6/17/20    306
6/18/20    308
Name: Kuwait, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    27
6/15/20    28
6/16/20    30
6/17/20    31
6/18/20    31
Name: Kyrgyzstan, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Laos, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    28
6/15/20    28
6/16/20    28
6/17/20    30
6/18/20    30
Name: Latvia, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    32
6/15/20    32
6/16/20    32
6/17/20    32
6/18/20    32
Name: Lebanon, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Lesotho, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    32
6/15/20    33
6/16/20    33
6/17/20    33
6/18/20    33
Name: Liberia, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    10
6/15/20    10
6/16/20    10
6/17/20    10
6/18/20    10
Name: Libya, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    1
6/15/20    1
6/16/20    1
6/17/20    1
6/18/20    1
Name: Liechtenstein, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    75
6/15/20    76
6/16/20    76
6/17/20    76
6/18/20    76
Name: Lithuania, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    110
6/15/20    110
6/16/20    110
6/17/20    110
6/18/20    110
Name: Luxembourg, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    2
6/15/20    2
6/16/20    2
6/17/20    2
6/18/20    2
Name: MS Zaandam, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    10
6/15/20    10
6/16/20    12
6/17/20    12
6/18/20    13
Name: Madagascar, Length: 149, dtype: int64
1/22/20      17
1/23/20      18
1/24/20      26
1/25/20      42
1/26/20      56
           ...
6/14/20    4638
6/15/20    4638
6/16/20    4638
6/17/20    4638
6/18/20    4638
Name: Mainland China, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    6
6/15/20    6
6/16/20    6
6/17/20    6
6/18/20    8
Name: Malawi, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    121
6/15/20    121
6/16/20    121
6/17/20    121
6/18/20    121
Name: Malaysia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    8
6/15/20    8
6/16/20    8
6/17/20    8
6/18/20    8
Name: Maldives, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    104
6/15/20    104
6/16/20    104
6/17/20    107
6/18/20    107
Name: Mali, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    9
6/15/20    9
6/16/20    9
6/17/20    9
6/18/20    9
Name: Malta, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    87
6/15/20    91
6/16/20    93
6/17/20    95
6/18/20    97
Name: Mauritania, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    10
6/15/20    10
6/16/20    10
6/17/20    10
6/18/20    10
Name: Mauritius, Length: 149, dtype: int64
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
           ...
6/14/20    17141
6/15/20    17580
6/16/20    18310
6/17/20    19080
6/18/20    19747
Name: Mexico, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    406
6/15/20    411
6/16/20    423
6/17/20    433
6/18/20    444
Name: Moldova, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    4
6/15/20    4
6/16/20    4
6/17/20    4
6/18/20    4
Name: Monaco, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Mongolia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    9
6/15/20    9
6/16/20    9
6/17/20    9
6/18/20    9
Name: Montenegro, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    212
6/15/20    212
6/16/20    212
6/17/20    213
6/18/20    213
Name: Morocco, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    3
6/15/20    3
6/16/20    4
6/17/20    4
6/18/20    4
Name: Mozambique, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Namibia, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    19
6/15/20    19
6/16/20    19
6/17/20    20
6/18/20    22
Name: Nepal, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    6078
6/15/20    6084
6/16/20    6089
6/17/20    6093
6/18/20    6097
Name: Netherlands, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    22
6/15/20    22
6/16/20    22
6/17/20    22
6/18/20    22
Name: New Zealand, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    55
6/15/20    55
6/16/20    64
6/17/20    64
6/18/20    64
Name: Nicaragua, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    66
6/15/20    66
6/16/20    66
6/17/20    67
6/18/20    67
Name: Niger, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    420
6/15/20    424
6/16/20    455
6/17/20    469
6/18/20    475
Name: Nigeria, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    188
6/15/20    193
6/16/20    201
6/17/20    210
6/18/20    216
Name: North Macedonia, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    242
6/15/20    242
6/16/20    242
6/17/20    243
6/18/20    244
Name: Norway, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    104
6/15/20    108
6/16/20    114
6/17/20    116
6/18/20    119
Name: Oman, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    2729
6/15/20    2839
6/16/20    2975
6/17/20    3093
6/18/20    3229
Name: Pakistan, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    437
6/15/20    448
6/16/20    457
6/17/20    470
6/18/20    475
Name: Panama, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Papua New Guinea, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    11
6/15/20    12
6/16/20    13
6/17/20    13
6/18/20    13
Name: Paraguay, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    6688
6/15/20    6860
6/16/20    7056
6/17/20    7257
6/18/20    7461
Name: Peru, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1088
6/15/20    1098
6/16/20    1103
6/17/20    1108
6/18/20    1116
Name: Philippines, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1247
6/15/20    1256
6/16/20    1272
6/17/20    1286
6/18/20    1316
Name: Poland, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1517
6/15/20    1520
6/16/20    1522
6/17/20    1523
6/18/20    1524
Name: Portugal, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    73
6/15/20    76
6/16/20    80
6/17/20    82
6/18/20    86
Name: Qatar, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1410
6/15/20    1427
6/16/20    1437
6/17/20    1451
6/18/20    1473

Name: Romania, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    6938
6/15/20    7081
6/16/20    7274
6/17/20    7468
6/18/20    7650
Name: Russia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    2
6/15/20    2
6/16/20    2
6/17/20    2
6/18/20    2
Name: Rwanda, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Saint Kitts and Nevis, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Saint Lucia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Saint Vincent and the Grenadines, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    42
6/15/20    42
6/16/20    42
6/17/20    42
6/18/20    42
Name: San Marino, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    12
6/15/20    12
6/16/20    12
6/17/20    12
6/18/20    12
Name: Sao Tome and Principe, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20     972
6/15/20    1011
6/16/20    1052
6/17/20    1091
6/18/20    1139
Name: Saudi Arabia, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    60
6/15/20    64
6/16/20    70
6/17/20    73
6/18/20    76
Name: Senegal, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    254
6/15/20    255
6/16/20    256
6/17/20    257
6/18/20    258
Name: Serbia, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Seychelles, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    51
6/15/20    51
6/16/20    51
6/17/20    51
6/18/20    51
Name: Sierra Leone, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    26
6/15/20    26
6/16/20    26
6/17/20    26
6/18/20    26
Name: Singapore, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    28
6/15/20    28
6/16/20    28
6/17/20    28
6/18/20    28
Name: Slovakia, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    109
6/15/20    109
6/16/20    109
6/17/20    109
6/18/20    109
Name: Slovenia, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    88
6/15/20    88
6/16/20    88
6/17/20    88
6/18/20    88
Name: Somalia, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1480
6/15/20    1568
6/16/20    1625
6/17/20    1674
6/18/20    1737
Name: South Africa, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    27
6/15/20    27
6/16/20    30
6/17/20    31
6/18/20    32
Name: South Sudan, Length: 149, dtype: int64
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
           ...
6/14/20    27136
6/15/20    27136
6/16/20    27136
6/17/20    27136
6/18/20    27136
Name: Spain, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    11
6/15/20    11
6/16/20    11
6/17/20    11
6/18/20    11
Name: Sri Lanka, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    459
6/15/20    468
6/16/20    477
6/17/20    487
6/18/20    487
Name: Sudan, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    3
6/15/20    5
6/16/20    6
6/17/20    6
6/18/20    7
Name: Suriname, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    4874
6/15/20    4891
6/16/20    4939
6/17/20    5041
6/18/20    5053
Name: Sweden, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    1938
6/15/20    1939
6/16/20    1954
6/17/20    1956
6/18/20    1956
Name: Switzerland, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    6
6/15/20    6
6/16/20    6
6/17/20    7
6/18/20    7
Name: Syria, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    7
6/15/20    7
6/16/20    7
6/17/20    7
6/18/20    7
Name: Taiwan, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    50
6/15/20    50
6/16/20    50
6/17/20    51
6/18/20    51
Name: Tajikistan, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    21
6/15/20    21
6/16/20    21
6/17/20    21
6/18/20    21
Name: Tanzania, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    58
6/15/20    58
6/16/20    58
6/17/20    58
6/18/20    58
Name: Thailand, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Timor-Leste, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    13
6/15/20    13
6/16/20    13
6/17/20    13
6/18/20    13
Name: Togo, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    8
6/15/20    8
6/16/20    8
6/17/20    8
6/18/20    8
Name: Trinidad and Tobago, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    49
6/15/20    49
6/16/20    49
6/17/20    50
6/18/20    50
Name: Tunisia, Length: 149, dtype: int64
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/14/20    4807
6/15/20    4825
6/16/20    4842
6/17/20    4861
6/18/20    4882
Name: Turkey, Length: 149, dtype: int64
1/22/20         0
1/23/20         0
1/24/20         0
1/25/20         0
1/26/20         0
            ...
6/14/20    115732
6/15/20    116127
6/16/20    116963
6/17/20    117717
6/18/20    118434
Name: US, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Uganda, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    899
6/15/20    911
6/16/20    922
6/17/20    953
6/18/20    976
Name: Ukraine, Length: 149, dtype: int64
1/22/20      0
1/23/20      0
1/24/20      0
1/25/20      0
1/26/20      0
          ...
6/14/20    289
6/15/20    291
6/16/20    293
6/17/20    295
6/18/20    298
Name: United Arab Emirates, Length: 149, dtype: int64
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
           ...
6/14/20    41783
6/15/20    41821
6/16/20    42054
6/17/20    42238
6/18/20    42373
Name: United Kingdom, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    23
6/15/20    23
6/16/20    24
6/17/20    24
6/18/20    24
Name: Uruguay, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    19
6/15/20    19
6/16/20    19
6/17/20    19
6/18/20    19
Name: Uzbekistan, Length: 149, dtype: int64
1/22/20     0
1/23/20     0
1/24/20     0
1/25/20     0
1/26/20     0
           ..
6/14/20    25
6/15/20    26
6/16/20    27
6/17/20    28
6/18/20    28
Name: Venezuela, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    0
6/15/20    0
6/16/20    0
6/17/20    0
6/18/20    0
Name: Vietnam, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    3
6/15/20    3
6/16/20    3
6/17/20    3
6/18/20    3
Name: West Bank and Gaza, Length: 149, dtype: int64
1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
          ..
6/14/20    1
6/15/20    1
6/16/20    1
6/17/20    1
6/18/20    1
Name: Western Sahara, Length: 149, dtype: int64

In [30]:
import warnings
warnings.filterwarnings("ignore")

In [32]:
predictions = pd.DataFrame()

for n in range(0,188):
    model_1 = ExponentialSmoothing(endog=df_confirmed.iloc[n],trend='add').fit()
    fcast1 = model_1.forecast(1)
    fcast1 = round(fcast1, 1)
    predictions = pd.concat([predictions, fcast1])

predictions.columns = ['Confirmed']
predictions.set_index(df_confirmed.index, inplace=True)
predictions

                    Confirmed
Country/Region
Afghanistan           28192.1
Albania                1851.5
Algeria               11502.6
Andorra                 855.5
Angola                  172.7
...                       ...
West Bank and Gaza      640.7
Western Sahara            9.1
Yemen                   944.1
Zambia                 1441.0
Zimbabwe                475.0

[188 rows x 1 columns]

In [36]:
a = pd.DataFrame()
b = pd.DataFrame()

for n in range(0,188):
    model_1 = ExponentialSmoothing(endog=df_confirmed.iloc[n],trend='add').fit()
    model_2 = ExponentialSmoothing(endog=df_death.iloc[n],trend='add').fit()
    fcast1 = model_1.forecast(1)
    fcast2 = model_2.forecast(1)
    #print(fcast2)
    a = pd.concat([a, fcast1])
    b = pd.concat([b, fcast2])
    
#predictions = pd.merge(a, b)
#predictions.columns = ['Confirmed', 'Deaths']
#predictions.set_index(df_confirmed.index, inplace=True)
#predictions

In [37]:
a.columns = ['Confirmed']
b.columns = ['Deaths']

In [38]:
a.set_index(df_confirmed.index, inplace=True)
b.set_index(df_confirmed.index, inplace=True)

In [39]:
c = pd.merge(a,b, on=a.index)

In [40]:
c

                  key_0     Confirmed      Deaths
0           Afghanistan  28192.136581  564.940918
1               Albania   1851.450175   39.555414
2               Algeria  11502.602970  822.651527
3               Andorra    855.485554   52.199806
4                Angola    172.739783    8.241091
..                  ...           ...         ...
183  West Bank and Gaza    640.712994    3.020585
184      Western Sahara      9.061655    1.006759
185               Yemen    944.058059  273.068721
186              Zambia   1440.965317   11.120333
187            Zimbabwe    475.048382    4.026846

[188 rows x 3 columns]

In [41]:
c.rename(columns={'key_0': 'Country/Region'}, inplace=True)

In [42]:
c

         Country/Region     Confirmed      Deaths
0           Afghanistan  28192.136581  564.940918
1               Albania   1851.450175   39.555414
2               Algeria  11502.602970  822.651527
3               Andorra    855.485554   52.199806
4                Angola    172.739783    8.241091
..                  ...           ...         ...
183  West Bank and Gaza    640.712994    3.020585
184      Western Sahara      9.061655    1.006759
185               Yemen    944.058059  273.068721
186              Zambia   1440.965317   11.120333
187            Zimbabwe    475.048382    4.026846

[188 rows x 3 columns]

In [43]:
c.to_csv("final.csv", index=0)

In [44]:
c.to_excel("final1.xlsx", index=0)

# AR model

In [45]:
from statsmodels.tsa.ar_model import AR,ARResults

import warnings
warnings.filterwarnings("ignore")

In [46]:
df_confirmed.iloc[77]

2020-01-22       0
2020-01-23       0
2020-01-24       0
2020-01-25       0
2020-01-26       0
              ...
2020-06-14    1810
2020-06-15    1810
2020-06-16    1812
2020-06-17    1815
2020-06-18    1816
Freq: D, Name: Iceland, Length: 149, dtype: int64

In [47]:
model = AR(df_confirmed.iloc[77])
AR1fit = model.fit(maxlag=2, method='mle')
print(f'Lag: {AR1fit.k_ar}')
print(f'Coefficients:\n{AR1fit.params}')

Lag: 2
Coefficients:
const         0.846881
L1.Iceland    1.885253
L2.Iceland   -0.886147
dtype: float64

In [48]:
fcast = AR1fit.predict(start=93, end=93+3, dynamic=False).rename('Forecast')

In [49]:
fcast

2020-04-24    1791.791157
2020-04-25    1788.246567
2020-04-26    1790.131820
2020-04-27    1793.016179
Freq: D, Name: Forecast, dtype: float64

AR model not working

# ARIMA model

In [50]:
from pmdarima import auto_arima
from statsmodels.tsa.arima_model import ARIMA,ARIMAResults

In [57]:
#for f in range(0,185):
    stepwise_fit = auto_arima(df_confirmed.iloc[76], start_p=0, start_q=0,
                              max_p=6, max_q=3, m=1,
                              seasonal=False,
                              d=None, trace=True,
                              error_action='ignore',
                              suppress_warnings=True,
                              stepwise=True)
    stepwise_fit.summary()

Performing stepwise search to minimize aic
Fit ARIMA(0,2,0)x(0,0,0,0) [intercept=True]; AIC=1358.215, BIC=1364.196, Time=0.020 seconds
Fit ARIMA(1,2,0)x(0,0,0,0) [intercept=True]; AIC=1333.951, BIC=1342.922, Time=0.044 seconds
Fit ARIMA(0,2,1)x(0,0,0,0) [intercept=True]; AIC=1315.433, BIC=1324.404, Time=0.051 seconds
Fit ARIMA(0,2,0)x(0,0,0,0) [intercept=False]; AIC=1356.215, BIC=1359.205, Time=0.007 seconds
Fit ARIMA(1,2,1)x(0,0,0,0) [intercept=True]; AIC=1315.556, BIC=1327.518, Time=0.094 seconds
Fit ARIMA(0,2,2)x(0,0,0,0) [intercept=True]; AIC=1315.627, BIC=1327.589, Time=0.096 seconds
Fit ARIMA(1,2,2)x(0,0,0,0) [intercept=True]; AIC=1313.091, BIC=1328.044, Time=0.095 seconds
Fit ARIMA(2,2,2)x(0,0,0,0) [intercept=True]; AIC=1315.090, BIC=1333.032, Time=0.135 seconds
Fit ARIMA(1,2,3)x(0,0,0,0) [intercept=True]; AIC=1315.090, BIC=1333.033, Time=0.172 seconds
Fit ARIMA(0,2,3)x(0,0,0,0) [intercept=True]; AIC=1317.600, BIC=1332.553, Time=0.107 seconds
Fit ARIMA(2,2,1)x(0,0,0,0) [intercept=True]; AIC=1317.532, BIC=1332.484, Time=0.152 seconds
Fit ARIMA(2,2,3)x(0,0,0,0) [intercept=True]; AIC=1316.961, BIC=1337.894, Time=0.254 seconds
Total fit time: 1.241 seconds

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  149
Model:               SARIMAX(1, 2, 2)   Log Likelihood                -651.546
Date:                Tue, 23 Jun 2020   AIC                           1313.091
Time:                        00:46:20   BIC                           1328.044
Sample:                             0   HQIC                          1319.167
                                - 149
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.0467      1.369      0.034      0.973      -2.637       2.730
ar.L1         -0.6953      0.143     -4.855      0.000      -0.976      -0.415
ma.L1          0.1261      0.133      0.949      0.343      -0.134       0.386
ma.L2         -0.6164      0.065     -9.486      0.000      -0.744      -0.489
sigma2       412.2180     18.917     21.791      0.000     375.142     449.294
===================================================================================
Ljung-Box (Q):                       55.77   Jarque-Bera (JB):              2585.77
Prob(Q):                              0.05   Prob(JB):                         0.00
Heteroskedasticity (H):             234.46   Skew:                             1.19
Prob(H) (two-sided):                  0.00   Kurtosis:                        23.41
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [58]:
model = ARIMA(df_confirmed.iloc[76],order=(1,2,2))
results = model.fit()
fcast = results.predict(start=93,end=93+3,typ='levels').rename('ARIMA(1,2,2) Forecast')

In [59]:
fcast

2020-04-24    2389.529793
2020-04-25    2552.540519
2020-04-26    2506.830689
2020-04-27    2584.075869
Freq: D, Name: ARIMA(1,2,2) Forecast, dtype: float64